$COLOR_PAGE:  #fff; // Background color
$COLOR_TEXT:  #000; // Color for normal text
$COLOR_LINK:  #901; // Color for links
$COLOR_FOCUS: #f02; // Color for focused links
$COLOR_FRILL: #777; // Color for quote symbols and other embellishments

