/* Colors are the only global variables to be set. */

$color-page: #fff; // Background color
$color-text: #000; // Color for normal text
$color-link: #901; // Color for links
$color-focus: #f02; // Color for focused links
$color-scenery: #777; // Color for quote symbols and other embellishments

