@import "colors";
@import "text";

$figure-space: 2.5em; // Vertical space around figures & tables
$caption-space: .8em;

/* Tables *******************************************************************/

table {
    margin: $figure-space auto;
    border-collapse: collapse;
}
caption {
    font-style: italic;
    margin: $caption-space 0 $paragraph-space;
    caption-side: bottom;
}
th, td {
    padding: 0.5em;
}
td:first-child {
    font-weight: bold;
}
table>tr:first-child td, caption + tr td, thead th {
    font-weight: bold;
    border-bottom: 1px solid $color-text;
    border-top: 1px solid $color-text;
}
table>tr:last-child td, tbody {
    border-bottom: 1px solid $color-text;
}
tr + caption {
    border-top: 1px solid $color-text;
}
table.no-col-header {
    td:first-child {
        font-weight: normal;
    }
}
table.no-row-header {
    > tr:first-child td, caption + tr td {
        font-weight: normal;
        border-bottom: none;
    }
}


/* Images *******************************************************************/

figure {
    margin: $figure-space 0;
    text-align: center;

    img {
        display: inline-block;
        width: 100%;
        vertical-align: top; // gets rid of space under inlined image
    }
    figcaption {
        font-style: italic;
        margin: $caption-space 0 $paragraph-space;
        
        * {
            margin: 0;
        } 
    }
}
