@mixin page(
        $vmargin: 5em, // Vertical margin on the page
        $hmargin: 3em, // Horizontal margin on the page
        $minwidth: 35em, // Minimum width before margin scales down
        $maxwidth: 40em, // Maximum width before margin scales up
){
    body {
        color: $color-text;
        background-color: $color-page;
        margin: $vmargin $hmargin;
    }

    // Once the width reaches a lower limit, margins start shrinking proportionally
    @media screen and (max-width: ($minwidth)) {
        body {
            margin: $vmargin percentage($hmargin/$minwidth);
        }
    }

    // Once the width reaches an upper limit, margins start expanding
    // proportionally
    @media screen and (min-width: ($maxwidth)) {
        main, #index {
            margin: 0 auto;
            width: $maxwidth;
        }
    }
}

