@import "colors";

$minwidth: 35em; // Minimum width before margin scales down
$maxwidth: 40em; // Maximum width before margin scales up
$vmargin: 5em; // Vertical margin on the page
$hmargin: 3em; // Horizontal margin on the page

body {
    color: $color-text;
    background-color: $color-page;
    font-family: "Courier New", monospace;
    font-size: 12pt;
}


main, #index {
    margin: $vmargin auto;
    padding: 0 $hmargin;

}


// Once the width reaches a lower limit, margins start shrinking proportionally
@media screen and (max-width: $minwidth) {
    main, nav#index {
        padding: 0 percentage($hmargin/($minwidth + 2*$hmargin));
    }
}

// Once the width reaches an upper limit, the additional space is taken by
// margins. I confess I don't entirely understand why the coefficient on
// $HSPACE_PAGE is set to 4 rather than 2, but the result looks better. It's
// still not an *entirely* smooth transition, though, so this needs looking
// into.
@media screen and (min-width: ($maxwidth + 4*( $hmargin ) )) {
    main, #index {
        width: $maxwidth;
    }
}
