/* This file contains styling for the content of a page: paragraphs, headers,
 * links, lists, figures, rules... */

@mixin text
    ( $font
    , $font-size
    , $line-height
    , $margin
    , $align: left
    , $underline-link: true ) {

    body {
        font-family: $font;
        font-size: $font-size;
        color: $color-text;
        background-color: $color-page;
    }

    p, ul, ol, dl {
        margin: $margin 0;
        line-height: $line-height;
        text-align: $align;
        letter-spacing: 0.01em;
    }
    a {
        @if $underline-link {
            text-decoration: underline;
        } @else {
            text-decoration: none;
            font-weight: bold;
        }
        color: $color-link;
    }
    a:hover {
        color: $color-focus;
    }
    a.footnote-ref {
        text-decoration: none;
    }
    sup {
        line-height: 1em;
    }
}


/* Headers ******************************************************************/

@mixin title
    ( $include-link: true 
    , $align: left 
    , $size: 1.8em ) {

    h1 {
        font-style: normal;
        font-size: $size;
        letter-spacing: 0.08em;
        margin-top: 0.1em;
        margin: 0 0 0.4em 0;
        text-align: $align;
        font-weight: 300;
        text-transform: uppercase;
    }

    header {
        margin: 0 0 1.5em;

        .collection {
            color: $color-scenery;
            font-size: 0.8em;
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }

        @if $include-link {
            nav {
                float: right;
                font-size: 1.6em;
                display: inline-block;
            }
            a {
                margin: 0 0.25em;
                text-decoration: none;
                font-family: sans-serif;
            }
        } @else {
            nav {
                display: none;
            }   
        }
    }

}

// This adds a metadata footer
@mixin meta
    ( $footer: true ){

    @if $footer {
        .meta {
            margin: 3em 0 0;
            color: $color-scenery;
            font-size: 0.8em;
            dl {
                text-align: right;
            }
            dt {
                text-transform: lowercase;
                font-weight: 600;
            }
            dd + dt::before {
                content: ";\ ";
            }
            dt::after {
                content: ":\ ";
            }
            dt, dd {
                display: inline;
            }

        }
    } @else {
        .meta {
            display: none;
        }
    }

}

// This header style adds Markdown-like (===, ---) to subheaders
@mixin header-lined
    ( $line-height ){ // Must match line height on normal text

    h2 {
        margin: 2em 0 0;
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 0.5em;
        border-bottom: 3px double $color-text;
    }
    h3 {
        margin: 2em 0 0;
        font-size: 1.1em;
        font-weight: normal;
        padding-bottom: 0.25em;
        border-bottom: 1px solid $color-text;
    }
    h4 {
        margin: 0 1em 0 0; 
        font-size: 1em;
        line-height: $line-height;
        float: left;
        font-weight: 600;
    }
    hr + h2, hr + h3, hr + h4 {
        margin-top: 2em; // Reset header after horizontal rule
    }
    h2 + h3 {
        margin-top: 1em;
    }
    h4 + * { // Anything that follows a paragraph header should come underneath...
        clear: left;
    }
    h4 + p { // ... except paragraphs, which come inline.
        clear: none;
    }

}

// This header style adds blocks for clarity and aesthetics
@mixin header-bar {

    h2 {
        margin: 1.5em 0 1em;
        font-size: 1.2em;
        font-weight: 600;
    }
    h3 {
        margin: 1.8em 0 0.5em;
        font-size: 1.2em;
        font-weight: normal;
    }
    h2 + h3 {
        margin-top: 1em;
    }

    h2:before {
        content: "";
        display: inline-block;
        margin-right: 1em;;
        width: 14%;
        height: 10px;
        background-color: $color-link;
    }
    
}

/* Lists ********************************************************************/

// Default list style
@mixin list
    ( $indentation
    , $margin ){

    ul, ol {
        margin: $margin 0;
        list-style-type: square;
    }
    main li {
        margin-left: $indentation;
        padding-left: 0.5em;
    }
    li p {
        margin: 0 0 0.4em 0;
        display: inline-block;
        vertical-align: top;
    }

}

// This list style is the one used for CVs because it allows more control over
// placement of the bullet points.
@mixin list-controlled
    ( $margin ) {

    ul {
        margin: $margin 0;
        list-style-type: none;
        padding: 0;
    }
    li {
        position: relative;
        margin: 0 0 0 0.5em;
        padding: 0 0 0 1em;
    }
    li:before {
        content: "▪";
        position: absolute;
        left: -0.5em;
    }
    dd>ul {
        margin: 0 0 0 1em;
    }
    dd>ul>li {
        margin: 0;
    }
    li p {
        margin: 0 0 0.4em 0;
        display: inline-block;
        vertical-align: top;
    }

}


/* Description lists ********************************************************/

@mixin description-list
    ( $margin ) {

    $dl-width: 17%; // How wide the titles of description lists are

    main>dl {
        margin: $margin 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        dt {
            flex: 0 0 $dl-width;
            margin: 0.25em 0;
            text-overflow: ellipsis;
            font-weight: 600;
            overflow: hidden;
        }
        dd {
            flex: 0 0 (100% - $dl-width);
            margin: 0.25em 0 0 auto;
        }
    }
}


/* Quotes and line blocks ***************************************************/

@mixin quote 
    ( $indentation
    , $margin ) {

    blockquote, .line-block {
        margin: $margin 0 $margin $indentation;
        font-style: italic;
        quotes: "\201C""\201D""\2018""\2019";
        position: relative;

        p::before, p::after {
            font-family: "Times New Roman", serif;
            font-size: 2.5em;
            line-height: 0.05em;
            vertical-align: -0.4em;
            color: $color-scenery;
        }
        p:first-of-type::before {
            content: open-quote;
            padding-right: 0.4em;
        }
        p:last-of-type::after {
            content: close-quote;
            padding-left: 0.1em;
        }
        p {
            text-indent: 0; // avoid messing up quote symbols,
                            // should another indent value be inherited
        }
        footer {
            text-align: right;
            font-style: normal;
            position: relative;
            right: 0;
        }
        footer::before {
            content: "~";
        }
    }

}

/* Source code **************************************************************/

@mixin code
    ( $margin
    , $font: monospace
    , $size: 1em ) {

    code {
        white-space: pre-wrap;
        font-family: $font;
        font-size: $size;
    }
    code pre {
        margin: $margin 0;
    }

}


/* Separating lines *********************************************************/

@mixin hr
    ( $margin
    , $decoration: "*"
    , $font-size: 1.2em ) {

    hr {
        border: none;
        border-top: 1px solid $color-text;
        text-align: center;
        margin: $margin auto;
        width: 100%;
        position: relative;
    }
    hr::after {
        $inner-width: 3em;
        color: $color-text;
        background: $color-page;
        content: $decoration;
        font-size: $font-size;
        line-height: $font-size;
        position: absolute;
        top: (-($font-size)/2);
        left: 50%;
        margin-left: (-($inner-width)/2);
        width: $inner-width;
    }
}

/* Image *******************************************************************/

@mixin figure
    ( $margin ){

    $caption-space: .8em;

    figure {
        margin: $margin 0;
        text-align: center;

        img {
            display: inline-block;
            width: 100%;
            vertical-align: top; // gets rid of space under inlined image
        }
        figcaption {
            font-style: italic;
            margin: $caption-space 0 0;
            
            * {
                margin: 0;
            } 
        }
    }

}


/* Table *******************************************************************/

@mixin table
    ( $margin ) {

    $caption-space: .8em;

    table {
        margin: $margin auto;
        border-collapse: collapse;
    }
    caption {
        font-style: italic;
        margin: $caption-space 0 0;
        caption-side: bottom;
    }
    th, td {
        padding: 0.5em;
    }
    td:first-child {
        font-weight: bold;
    }
    table>tr:first-child td, caption + tr td, thead th {
        font-weight: bold;
        border-bottom: 1px solid $color-text;
        border-top: 1px solid $color-text;
    }
    table>tr:last-child td, tbody {
        border-bottom: 1px solid $color-text;
    }
    tr + caption {
        border-top: 1px solid $color-text;
    }
    table.no-col-header {
        td:first-child {
            font-weight: normal;
        }
    }
    table.no-row-header {
        > tr:first-child td, caption + tr td {
            font-weight: normal;
            border-bottom: none;
        }
    }

}

