@import "snel";
@import "colors";

$line-height: 2em; // Vertical space around objects like lists and quotes
$indentation: 2.5em; // Indentation for lists items and blockquotes
$vspace-text: 0.6em; // Margins between paragraphs, lists, etcetera
$vspace-object: 2.5em; // Margins around figures, tables and quotes

@include text
    ( $font: ("Palatino Linotype", "Book Antiqua", "Palatino", serif)
    , $font-size: 13pt
    , $align: justify );
@include page-header
    ( $include-link: false );
@include header-line
    ( $title-align: center );
@include list
    ( );
@include description-list
    ( );
@include code
    ( );
@include quote
    ( );
@include figure
    ( );
@include table
    ( );
@include hr
    ( $decoration: "\2022"
    , $font-size: 0.4em );
@include misc
    ( );
@include print
    ( $page-size: A5 );
