@import "snel";
@import "colors";


$vmargin: 5em; // Vertical margin on the page
$hmargin: 3em; // Horizontal margin on the page
$line-height: 1.8em; // Vertical space around objects like lists and quotes
$vspace-text: 0.6em; // Margins between paragraphs, lists, etcetera
$vspace-object: 2.5em; // Margins around figures, tables and quotes

@include text
    ( $font: ("Palatino Linotype", "Book Antiqua", "Palatino", serif)
    , $font-size: 11pt
    , $align: justify
    , $underline-link: false );
@include page-header
    ( $include-link: false );
@include header-block
    ( );
@include description-list
    ( );
@include list-controlled
    ( );
@include code
    ( $size: 0.8em );
@include print
    ( $page-size: A4 
    , $page-breaks: false
    , $page-numbering: false );


.email {
    font-family: monospace;
}

// Tables in the CV are used just for alignment
table {
    width: 98%;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    padding: 0.3em;
}
table a {
    font-family: monospace;
    font-size: 0.9em;
}
