@import "main";
@import "colors";

$vspace-object: 2.5em;

@include text
    ( $font: ("Palatino Linotype", "Book Antiqua", "Palatino", serif)
    , $font-size: 11pt
    , $line-height: 1.8em
    , $margin: 0.6em
    , $align: justify
    , $underline-link: false );
@include title
    ( $include-link: false
    , $size: 1.6em );
@include header-bar
    ( );
@include description-list
    ( $margin: 0.6em );
@include list-controlled
    ( $margin: $vspace-object );
@include code
    ( $size: 0.8em
    , $margin: $vspace-object );
@include meta
    ( $footer: false );
@include print
    ( $page-size: A4 
    , $page-breaks: false
    , $page-numbering: false );


.email {
    font-family: monospace;
}

// Tables in the CV are used just for alignment
table {
    width: 98%;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    padding: 0.3em;
}
table a {
    font-family: monospace;
    font-size: 0.9em;
}
