@import "snel";
@import "colors";

$line-height: 1.8em;
$indentation: 2.5em; // Indentation for lists items and blockquotes
$vspace-text: 0.6em; // Margins between paragraphs, lists, etcetera
$vspace-object: 2.5em; // Margins around figures, tables and quotes

@include index
    ( );
@include text
    ( $font: ("Courier New", monospace)
    , $font-size: 12pt
    , $align: left );
@include page-header
    ( $include-link: true );
@include header-line
    ( $title-align: left );
@include list
    ( );
@include description-list
    ( );
@include code
    ( $font: ("Courier New", monospace) );
@include quote
    ( );
@include figure
    ( );
@include table
    ( );
@include hr
    ( $decoration: "*" );
@include table-of-contents
    ( );
@include misc
    ( );
@include screen
    ( );
@include print
    ( );
