$FONT: "Palatino Linotype", "Book Antiqua", "Palatino", serif;

$COLOR_BG:      #fff;    // Background color
$COLOR_FG:      #000;    // Color for normal text
$COLOR_FG_1:    #901;    // Color for links
$COLOR_FG_2:    #f02;    // Color for focused links
$COLOR_FRILLS:  #777;    // Color for quote symbols and other embellishments

$PAGE_MINWIDTH: 35em;    // Minimum width before margin scales down
$PAGE_MAXWIDTH: 40em;    // Maximum width before margin scales up
$PAGE_VMARGIN: 5em;      // Vertical margin on the page
$PAGE_HMARGIN: 3em;      // Horizontal margin on the page

$PAGE_SIZE: 13pt;        // Base font size
$LINE_HEIGHT: 1.8em;     // Vertical spacing for lines
$L1_SIZE: 1.8em;         // Font size for title
$L2_SIZE: 1.2em;         // Font size for section header
$L3_SIZE: 1.1em;         // Font size for subsection header
$L4_SIZE: 1em;           // Font size for paragraph header

$PAR_VSPACE: 1em;        // Vertical spacing around paragraphs and lists
$FIG_VSPACE: 2.5em;      // Vertical spacing around figures, tables, listings…
$ITEM_INDENT: 2.5em;     // Indent for lists and blockquotes
$CAPTION_WEDGE: 0.8em;   // Vertical space between fig/table caption and item
$CAPTION_EXTRA: 0.5em;   // Additional space under captions
$L1_VSPACE: 6em;         // Vertical space between previous content and title
$L2_VSPACE: 3em;         // Vertical space between sections
$L3_VSPACE: 3em;         // Vertical space between subsections
$L1_WEDGE: 1em;          // Vertical space between title and content
$L2_WEDGE: -0.5em;       // Vertical space between section header and text
$L3_WEDGE: 1em;          // Vertical space between subsection header and text
$L4_WEDGE: 1em;          // Horizontal space between paragraph header and text

$HR_VSPACE_RESET: 2em;   // Space between <hr> or document start and a header
$HR_VSPACE: 2.5em;       // Vertical spacing around horizontal rules
$HR_SIZE: 1.2em;         // Size of the § in <hr>s
$HR_WIDTH: 40%;          // Width of horizontal rule

$TOC_WIDTH: 9em;         // Width of table of contents when moved to the side
$TOC_WEDGE: 1.5em;       // Horizontal space between ToC and content

$INDEX_HMARGIN: 3em;     // Horizontal margin around table of contents
$INDEX_VMARGIN: 2em;     // Vertical margin around table of contents
$INDEX_L1_SIZE: 2.9em;   // Font size in column header font size
$INDEX_L1_WEDGE: .6em;   // Vertical space under column header
$INDEX_L1_HSPACE: 4.0em; // Horizontal spacing between columns
$INDEX_L2_SIZE: 1.5em;   // Font size in subheader font size
$INDEX_L2_WEDGE: .15em;  // Vertical space under subheader
$INDEX_L2_VSPACE: 1.5em; // Vertical spacing between subheaded sections
$INDEX_L2_HMARGIN:0.2em; // Horizontal margin arount level 2, below header
$INDEX_L3_SIZE: 0.8em;   // Font size in menu items


* {
    margin: 0;
    padding: 0;
}

body {
    margin: $PAGE_VMARGIN $PAGE_HMARGIN;
}
main {
    margin: 0 auto;
}
section, div#refs { // div#refs should really be a section too, but pandoc doesn't do that
    margin: 0.5em auto 0;
}
main + section, div#refs {
    border-top: 1px solid $COLOR_FG;
    padding-top: 1.5em;
    margin: 3em auto 0;
}
main > footer {
    margin: 2em 0 0;
    text-align: right;
}

// Once the width reaches a lower limit, margins start shrinking proportionally
@media screen and (max-width: ($PAGE_MINWIDTH)) {
    body {
        margin: $PAGE_VMARGIN percentage($PAGE_HMARGIN/($PAGE_MINWIDTH + 2*$PAGE_HMARGIN));
    }
}

// Once the width reaches an upper limit, the additional space is taken by
// margins. I confess I don't entirely understand why the coefficient on
// $PAGE_HMARGIN is set to 4 rather than 2, but the result looks better. It's
// still not an *entirely* smooth transition, though, so this needs looking
// into.
@media screen and (min-width: ($PAGE_MAXWIDTH + 4*( $PAGE_HMARGIN ) )) {
    main, section {
        width: $PAGE_MAXWIDTH;
    }
}


/* Basic page elements *******************************************************/

body {
    color: $COLOR_FG;
    background-color: $COLOR_BG;
    font-family: $FONT;
    font-size: $PAGE_SIZE;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 0.01em;
}

p, ul, ol {
    margin: $PAR_VSPACE 0;
    line-height: $LINE_HEIGHT;
}

h1 {
    margin: $L1_VSPACE 0 $L1_WEDGE;
    font-size: $L1_SIZE;
    letter-spacing: 0.08em;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}
h1 a {
    text-decoration: none;
    float: right;
}
h1:first-child, hr + h1, hr + h2, hr + h3, hr + h4 {
    margin-top: $HR_VSPACE_RESET;
}
section h1, div#refs h1 {
    margin: 0 0 0.2em;
    font-size: $L2_SIZE;
    font-weight: normal;
}
h2 {
    margin: $L2_VSPACE 0 $L2_WEDGE;
    font-size: $L2_SIZE;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 3px double $COLOR_FRILLS;
}
h3 {
    margin: $L3_VSPACE 0 $L3_WEDGE;
    font-size: $L3_SIZE;
    font-weight: 600;
    border-bottom: 1px solid $COLOR_FRILLS;
}
h4 {
    margin: 0 $L4_WEDGE 0 0; 
    font-size: 1em;
    line-height: $LINE_HEIGHT;
    float: left;
    font-weight: 600;
}
/* I originally put this in to fix an issue with the floating header messing
   up the margins, but for reasons unknown to me, it is no longer necessary
h1 + h4, h2 + h4, h3 + h4 {
    margin-top: $PAR_VSPACE;
}
*/
   
a {
    text-decoration: underline;
    color: $COLOR_FG_1;
}
a:hover {
    color: $COLOR_FG_2;
}
a.footnote-ref {
    text-decoration: none;
}
sup {
    line-height: 1em;
}


/* Lists ********************************************************************/

ul, ol {
    list-style-type: square;
}
main li {
    margin-left: $ITEM_INDENT;
    padding-left: 0.5em;
}
section li {
    margin-left: 0;
}
li p {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}


/* Tables *******************************************************************/

table {
    margin: $FIG_VSPACE auto;
    border-collapse: collapse;
}
caption {
    font-style: italic;
    margin-top: $CAPTION_WEDGE;
    padding-bottom: $CAPTION_EXTRA;
    caption-side: bottom;
}
th, td {
    padding: 0.5em;
}
td:first-child {
    font-weight: bold;
}
table>tr:first-child td, caption + tr td, thead th {
    font-weight: bold;
    border-bottom: 2px solid $COLOR_FG;
    border-top: 1px solid $COLOR_FG;
}
table>tr:last-child td, tbody {
    border-bottom: 1px solid $COLOR_FG;
}
tr + caption {
    border-top: 1px solid $COLOR_FG;
}
table.no-col-header {
    td:first-child {
        font-weight: normal;
    }
}
table.no-row-header {
    > tr:first-child td, caption + tr td {
        font-weight: normal;
        border-bottom: none;
    }
}


/* Images *******************************************************************/

figure {
    margin: $FIG_VSPACE 0;
    text-align: center;

    img {
        display: inline-block;
        max-width: 100%;
        vertical-align: top; // Gets rid of space under inlined image
    }
    figcaption {
        margin-top: $CAPTION_WEDGE;
        padding-bottom: $CAPTION_EXTRA;
        font-style: italic;
        
        * {
            margin: 0;
        } 
    }

}


/* Separating lines *********************************************************/

hr {
    border: none;
    border-top: 1px solid $COLOR_FG;
    text-align: center;
    margin: $HR_VSPACE auto;
    width: $HR_WIDTH;
    position: relative;
}
hr:after {
    content: "\00a7";
    font-size: $HR_SIZE;
    line-height: $HR_SIZE;
    color: $COLOR_FG;
    position: absolute;
    top: (-$HR_SIZE/2);
    left: 50%;
    margin-left: -0.5em;
    width: 1em;
    background: $COLOR_BG;
}


/* Quotes and line blocks ***************************************************/

blockquote, .line-block {
    margin: $FIG_VSPACE 0 $FIG_VSPACE $ITEM_INDENT;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";

    p:before, p:after {
        font-size: 2.5em;
        line-height: 0.05em;
        vertical-align: -0.4em;
        color: $COLOR_FRILLS;
    }
    p:before {
        content: open-quote;
        padding-right: 0.4em;
    }
    p:after {
        content: close-quote;
        padding-left: 0.1em;
    }
    p {
        text-indent: 0; // avoid messing up quote symbols,
                        // should another indent value be inherited
    }
    em {
        text-decoration: underline;
    }
    footer {
        text-align: right;
        font-style: normal;
        margin: 0 5%;
    }
}


/* Source code **************************************************************/

code {
    white-space: pre-wrap;
    font-size: 0.7em;
}
code pre {
    margin: $FIG_VSPACE 0;
}


/* Miscellaneous classes & overrides ****************************************/

.hide {
    display: none;
}

.right {
    clear: right;
    float: right;
}

.left {
    clear: left;
    float: left;
}

.invert {
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

// Make sure MathJax elements are not too large
.MathJax {
    font-size: 2em !important;
}

// Annoying that pandoc puts a rule before the footnotes
section.footnotes hr {
    display: none;
}

// Do not underline the back link in footnotes
.footnotes a:last-child {
    padding: 0 0 0 0.5em;
    text-decoration: none;
}

@media print {
    .noprint {
        display: none;
    }
}


/* Table of contents ********************************************************/

nav#toc {
    text-align: left;
    float: right;

    ul {
        line-height: 1em;
        margin: 0;
        list-style: none; // to override unorderedness of ToC
        counter-reset: item;
        >li {
            display: block;
        }
        >li:before {
            content: counters(item, ".") ". ";
            counter-increment: item;
            padding-right: 0.4em;
            font-size: 0.5em;
        }
    }

    li li {
        margin-left: 1em;
    }

    a {
        font-size: 0.6em;
        text-decoration: none;
        text-transform: lowercase;
        color: $COLOR_FG;
    }
}

// If the width gets so small that it doesn't make sense to float the ToC, just
// put it normally
@media screen and (max-width: (2*($TOC_WIDTH+$TOC_WEDGE) + $PAGE_HMARGIN)) {
    nav#toc {
        float: none;
    }
}

// If the width gets large enough to fit the ToC on the side, move it there
@media screen and (min-width: ($PAGE_MAXWIDTH + 2*($PAGE_HMARGIN*2 + $TOC_WEDGE + $TOC_WIDTH) )) {
    nav#toc {
        display: inline-block;
        margin: 0 0 0 ($PAGE_MAXWIDTH / 2 + $TOC_WEDGE);
        position: absolute; // alternative: fixed, sticky?
        top: $PAGE_VMARGIN;
        left: 50%;
        width: $TOC_WIDTH;

        >ul {
            position: fixed;
        }
    }
}


/* Site-wide table of contents ***********************************************/

nav#index {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: $COLOR_FG;
    }
    a, span {
        text-transform: lowercase;
    }
    a:hover {
        text-decoration: underline;
    }
    a.selected, .selected>a {
        font-style: italic;
    }
    a.selected:hover, .selected>a:hover {
        text-decoration: none;
    }
    span {
        cursor: default;
        color: mix($COLOR_FG, $COLOR_BG, 30%);
    }
    
    ul {
        margin: 0;
        list-style: none;
    }

    > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: ($INDEX_VMARGIN) ($INDEX_HMARGIN - ($INDEX_L1_HSPACE/2));

        > li {
            padding: 0 ($INDEX_L1_HSPACE/2);
            
            > a, > span {
                white-space: nowrap;
                font-size: $INDEX_L1_SIZE;
            }
            
            > ul {
                text-align: left;
                padding: 0 $INDEX_L2_HMARGIN;
                margin-top: ($INDEX_L1_WEDGE - $INDEX_L2_VSPACE);
                
                > li {
                    padding-top: $INDEX_L2_VSPACE;
                    
                    > a, > span {
                        font-size: $INDEX_L2_SIZE;
                    }

                    > ul {
                        padding-top: $INDEX_L2_WEDGE;

                        a, span {
                            font-size: $INDEX_L3_SIZE;
                        }
                        li, ul {
                            display: inline;
                        }
                    }

                }
            }
        }
    }

    // Items between which a dot is placed
    ul ul ul li + li:before {
        content: "\ \2022\00a0\ ";
        font-size: 0.6em;
        color: mix($COLOR_FG, $COLOR_BG, 60%);
    }
}
